### Wine Quality Regression Model

In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('../Data/proccessed_winequality.csv')

In [3]:
df.head()

,Unnamed: 0,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,0,1,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,1,1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,2,1,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,3,1,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,4,1,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [4]:
df.drop(labels=['Unnamed: 0'],axis=1,inplace=True)

In [5]:
df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,1,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,1,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,1,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,1,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

### Splitting the input and output features

In [6]:
X_reg = df.drop(labels=['quality'],axis=1)
y_reg = df['quality']

In [7]:
X_reg.shape

(6497, 12)

In [8]:
y_reg.shape

(6497,)

In [9]:
X_reg

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,1,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8
1,1,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5
2,1,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1
3,1,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9
4,1,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9
...,...,...,...,...,...,...,...,...,...,...,...,...
6492,0,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
6493,0,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.51,11.2
6494,0,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
6495,0,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
6496,0,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [10]:
y_reg

0       6
1       6
2       6
3       6
4       6
       ..
6492    5
6493    6
6494    6
6495    5
6496    6
Name: quality, Length: 6497, dtype: int64

#### Applying the train test split

In [11]:
X_train_reg, X_test_reg , y_train_reg , y_test_reg = train_test_split(X_reg,y_reg,test_size=0.2,random_state=42)

In [12]:
X_train_reg.shape , y_train_reg.shape

((5197, 12), (5197,))

In [13]:
X_test_reg.shape , y_test_reg.shape

((1300, 12), (1300,))

In [14]:
type(X_train_reg)

pandas.core.frame.DataFrame

In [15]:
type(X_test_reg)

pandas.core.frame.DataFrame

In [16]:
type(y_train_reg)

pandas.core.series.Series

In [17]:
type(y_test_reg)

pandas.core.series.Series

### Creating the Custom Dataset

In [18]:
import torch.nn as nn
import torch 
from torch.utils.data import Dataset,DataLoader

In [35]:
class CustomDataset(Dataset):
    def __init__(self,features , labels ):
        self.features = torch.tensor(features,dtype=torch.float32)
        self.labels = torch.tensor(labels,dtype=torch.float)

    def __len__(self):
        return len(self.features)
    

    def __getitem__(self, index):
        return self.features[index] , self.labels[index]

In [28]:
train_dataset = CustomDataset(X_train_reg.values,y_train_reg.values)
test_dataset = CustomDataset(X_test_reg.values,y_test_reg.values)

In [29]:
train_loader = DataLoader(train_dataset,shuffle=True,batch_size=16)
test_loader = DataLoader(test_dataset,shuffle=False,batch_size=16)

### Neural Network Architecture

In [30]:
import torch
import torch.nn as nn

class WineQualityRegressionNN(nn.Module):
    def __init__(self, num_features):
        super().__init__()
        self.network = nn.Sequential(
            nn.Linear(num_features, 64),
            nn.BatchNorm1d(64),
            nn.ReLU(),
            nn.Dropout(0.2),

            nn.Linear(64, 32),
            nn.BatchNorm1d(32),
            nn.ReLU(),
            nn.Dropout(0.2),

            nn.Linear(32, 16),
            nn.BatchNorm1d(16),
            nn.ReLU(),
            nn.Dropout(0.2),

            nn.Linear(16, 1)   
        )

    def forward(self, x):
        return self.network(x)

### Defining Some Important Parameters

In [31]:
X_train_reg.shape[1]

12

### Training the Model on GPU

In [32]:
import torch

device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print("Using device:", device)

Using device: cuda

In [33]:
model = WineQualityRegressionNN(num_features=X_train_reg.shape[-1])
learning_rate = 0.001
loss_function = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(),learning_rate)
epochs = 100

## Creating a training loop

In [34]:
for epoch in range(epochs):
    total_epoch_loss = 0
    for batch_features , batch_labels in train_loader:
        batch_features , batch_labels = batch_features , batch_labels

        # Forward Pass 
        y_pred = model(batch_features)

        #Loss Calculation
        loss = loss_function(y_pred,batch_labels)

        #Clearning the Gradients 
        optimizer.zero_grad()

        #Backward Propogation
        loss.backward()

        #Updating the weights
        optimizer.step()

        total_epoch_loss += loss.item()

    
    print(f'Epoch : {epoch+1} , Average Loss : {total_epoch_loss/len(train_loader)}')

c:\Users\vrajg\miniconda3\Lib\site-packages\torch\nn\modules\loss.py:616: UserWarning: Using a target size (torch.Size([16])) that is different to the input size (torch.Size([16, 1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)
c:\Users\vrajg\miniconda3\Lib\site-packages\torch\nn\modules\loss.py:616: UserWarning: Using a target size (torch.Size([13])) that is different to the input size (torch.Size([13, 1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)

Epoch : 1 , Average Loss : 17.034535889258752
Epoch : 2 , Average Loss : 2.64560737829942
Epoch : 3 , Average Loss : 1.988813216136052
Epoch : 4 , Average Loss : 1.8797814227984502
Epoch : 5 , Average Loss : 1.8254714215718784
Epoch : 6 , Average Loss : 1.750578487286201
Epoch : 7 , Average Loss : 1.7027174577346216
Epoch : 8 , Average Loss : 1.664206351316892
Epoch : 9 , Average Loss : 1.5999600414129405
Epoch : 10 , Average Loss : 1.552466672200423
Epoch : 11 , Average Loss : 1.5150306100111741
Epoch : 12 , Average Loss : 1.4717195666753329
Epoch : 13 , Average Loss : 1.4442548639957722
Epoch : 14 , Average Loss : 1.4313622018007133
Epoch : 15 , Average Loss : 1.382047231930953
Epoch : 16 , Average Loss : 1.380137838767125
Epoch : 17 , Average Loss : 1.3497075398151692
Epoch : 18 , Average Loss : 1.307803257703781
Epoch : 19 , Average Loss : 1.3123803076377283
Epoch : 20 , Average Loss : 1.2543156599998475
Epoch : 21 , Average Loss : 1.2382026711794045
Epoch : 22 , Average Loss : 1.2241479685673347
Epoch : 23 , Average Loss : 1.2030405333408942
Epoch : 24 , Average Loss : 1.1793654647240273
Epoch : 25 , Average Loss : 1.1577731717549837
Epoch : 26 , Average Loss : 1.1310886105207296
Epoch : 27 , Average Loss : 1.1120162751124456
Epoch : 28 , Average Loss : 1.100901415989949
Epoch : 29 , Average Loss : 1.0766140319750859
Epoch : 30 , Average Loss : 1.060384343954233
Epoch : 31 , Average Loss : 1.0466716716839717
Epoch : 32 , Average Loss : 1.0375078903711759
Epoch : 33 , Average Loss : 1.0244063690992502
Epoch : 34 , Average Loss : 0.9977578743604514
Epoch : 35 , Average Loss : 0.9882648317630475
Epoch : 36 , Average Loss : 0.9695797548844264
Epoch : 37 , Average Loss : 0.9613927539495322
Epoch : 38 , Average Loss : 0.9593166247697977
Epoch : 39 , Average Loss : 0.9433636193092053
Epoch : 40 , Average Loss : 0.9248986374414884
Epoch : 41 , Average Loss : 0.9287781291741591
Epoch : 42 , Average Loss : 0.9125605469483595
Epoch : 43 , Average Loss : 0.9030239525208107
Epoch : 44 , Average Loss : 0.9039024741833026
Epoch : 45 , Average Loss : 0.8970481872558593
Epoch : 46 , Average Loss : 0.8893227265889828
Epoch : 47 , Average Loss : 0.8837669162566846
Epoch : 48 , Average Loss : 0.8780669979865734
Epoch : 49 , Average Loss : 0.8704805284280044
Epoch : 50 , Average Loss : 0.8667760046628805
Epoch : 51 , Average Loss : 0.8591397279959458
Epoch : 52 , Average Loss : 0.8552600670777835
Epoch : 53 , Average Loss : 0.8540601266347445
Epoch : 54 , Average Loss : 0.8476277228043629
Epoch : 55 , Average Loss : 0.8423809394469628
Epoch : 56 , Average Loss : 0.8363774246435899
Epoch : 57 , Average Loss : 0.8326451269479899
Epoch : 58 , Average Loss : 0.8315344527134528
Epoch : 59 , Average Loss : 0.8290068255938017
Epoch : 60 , Average Loss : 0.8226399479921047
Epoch : 61 , Average Loss : 0.8222050464611788
Epoch : 62 , Average Loss : 0.8228216920449184
Epoch : 63 , Average Loss : 0.8186029926630167
Epoch : 64 , Average Loss : 0.817175055696414
Epoch : 65 , Average Loss : 0.8140796257899358
Epoch : 66 , Average Loss : 0.8104913869270911
Epoch : 67 , Average Loss : 0.8102999126911163
Epoch : 68 , Average Loss : 0.808058801155824
Epoch : 69 , Average Loss : 0.805112966299057
Epoch : 70 , Average Loss : 0.8035755140964802
Epoch : 71 , Average Loss : 0.8031677728891373
Epoch : 72 , Average Loss : 0.8022445120719763
Epoch : 73 , Average Loss : 0.8004796434365786
Epoch : 74 , Average Loss : 0.800314953327179
Epoch : 75 , Average Loss : 0.797787150144577
Epoch : 76 , Average Loss : 0.7955419584421011
Epoch : 77 , Average Loss : 0.7962090853085885
Epoch : 78 , Average Loss : 0.7936407735256048
Epoch : 79 , Average Loss : 0.7933627281280664
Epoch : 80 , Average Loss : 0.7934504560782359
Epoch : 81 , Average Loss : 0.7935058729465191
Epoch : 82 , Average Loss : 0.7935711343930317
Epoch : 83 , Average Loss : 0.791188220840234
Epoch : 84 , Average Loss : 0.7895388769644958
Epoch : 85 , Average Loss : 0.788861483656443
Epoch : 86 , Average Loss : 0.7883857594086574
Epoch : 87 , Average Loss : 0.7873177616412823
Epoch : 88 , Average Loss : 0.7863968257720654
Epoch : 89 , Average Loss : 0.7856324549821707
Epoch : 90 , Average Loss : 0.7865574775750821
Epoch : 91 , Average Loss : 0.786698499597036
Epoch : 92 , Average Loss : 0.783404617538819
Epoch : 93 , Average Loss : 0.785025847691756
Epoch : 94 , Average Loss : 0.7848650468312777
Epoch : 95 , Average Loss : 0.783551129423655
Epoch : 96 , Average Loss : 0.7814920304830257
Epoch : 97 , Average Loss : 0.7836982160348158
Epoch : 98 , Average Loss : 0.7837466548039363
Epoch : 99 , Average Loss : 0.783502710553316
Epoch : 100 , Average Loss : 0.783323845909192

In [43]:
model.eval()
test_total_loss = 0.0
all_preds = []
all_labels = []

with torch.no_grad():
    for features, labels in train_loader:

        outputs = model(features)
        loss = loss_function(outputs, labels)
        test_total_loss += loss.item()

        all_preds.extend(outputs.cpu().numpy().flatten())
        all_labels.extend(labels.cpu().numpy().flatten())

# Average Loss (usually MSE)
test_avg_loss = test_total_loss / len(test_loader)

# Compute metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
mse = mean_squared_error(all_labels, all_preds)
mae = mean_absolute_error(all_labels, all_preds)
r2 = r2_score(all_labels, all_preds)

print(f"Test Loss (MSE): {test_avg_loss:.4f}")
print(f"Mean Absolute Error: {mae:.4f}")
print(f"R² Score: {r2:.4f}")

c:\Users\vrajg\miniconda3\Lib\site-packages\torch\nn\modules\loss.py:616: UserWarning: Using a target size (torch.Size([16])) that is different to the input size (torch.Size([16, 1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)

Test Loss (MSE): 3.0723
Mean Absolute Error: 0.6962
R² Score: -0.0015

c:\Users\vrajg\miniconda3\Lib\site-packages\torch\nn\modules\loss.py:616: UserWarning: Using a target size (torch.Size([13])) that is different to the input size (torch.Size([13, 1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)

In [45]:
model.eval()
test_total_loss = 0.0
all_preds = []
all_labels = []

with torch.no_grad():
    for features, labels in test_loader:

        outputs = model(features)
        loss = loss_function(outputs, labels)
        test_total_loss += loss.item()

        all_preds.extend(outputs.cpu().numpy().flatten())
        all_labels.extend(labels.cpu().numpy().flatten())

# Average Loss (usually MSE)
test_avg_loss = test_total_loss / len(test_loader)

# Compute metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
mse = mean_squared_error(all_labels, all_preds)
mae = mean_absolute_error(all_labels, all_preds)
r2 = r2_score(all_labels, all_preds)

print(f"Test Loss (MSE): {test_avg_loss:.4f}")
print(f"Mean Absolute Error: {mae:.4f}")
print(f"R² Score: {r2:.4f}")

Test Loss (MSE): 0.7110
Mean Absolute Error: 0.6742
R² Score: 0.0029

c:\Users\vrajg\miniconda3\Lib\site-packages\torch\nn\modules\loss.py:616: UserWarning: Using a target size (torch.Size([16])) that is different to the input size (torch.Size([16, 1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)
c:\Users\vrajg\miniconda3\Lib\site-packages\torch\nn\modules\loss.py:616: UserWarning: Using a target size (torch.Size([4])) that is different to the input size (torch.Size([4, 1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)

In [46]:
torch.save(model.state_dict(), "wine_type_model.pth")